@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #FFF;
    --white-1: #f4f4f4;
    --white-2: #cecece;
    --blue-1: #576CBC;
    --blue-2: #19376D;
    --blue-3: #0B2447;

    --rounded: 50%;
}

html {
    scroll-behavior: smooth;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

body {
    font-family: 'Poppins', sans-serif;

    background-color: var(--blue-2);
    max-width: 100vw;
    max-height: 100vh;

    .App {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    
        .title {
            text-align: center;
            font-size: 2.5rem;
            font-weight: 400;
            color: var(--white);
        }
    }
}